/* green theme */
.theme3-theme {
  --primary-color: #FF4E4F;
  --page--bg: #921F1B;
  --home--bg: #6F1717;
  --secondary-color: #a84c49;
  --secondary-active-color: #FFC200;
  --sub-page-bg:rgba(3, 165, 160, 1);
  --text-color: #ffffff;  
  --text-active-color: #fff;
  --logo-text-color: #FFFFFF;
  --primary-text-color: #322C56;
  --light-text-color: #09B0F8;
  --amount-text-color: #fbf68a;
  --amount-border-color: #F8C15A;
  --active-btn-color: #FFC200;
  --box-title-text-color: #E7A707;
  --active-btn-text-color: #921F1B;
  --pg-ttext-color: #534B80;
  --cancel-bg-color: #FF4E4F;
  --cancel-text-color: #ffffff;
  --confirm-bg-color: #29965a;
  --back-btn-bg-color: #0000004d;
  --rewards-box-amount-color: rgba(255, 255, 255, 1);
  --diisabled-bg-color: #89ab50;
  --tab-text-color: #013518;
  --tab-bg-color: #FCEA7F;
  --input-border-color: #FFD8AD;
  --progress-bar-color: rgba(5, 123, 119, 1);
  --progress-active-bar-color: rgba(255, 203, 102, 1);
  --jackpot-text-color: rgba(0, 172, 191, 1);
  --tabbar-bg-text: #6F1717;
  --tabbar-bg-active-text: rgba(255, 255, 255, 1);
  --tabbar-bg-color: #FF4E4F;
  --tabbar-bg-active-color:linear-gradient(0deg, #F0A109 0%, #FFED92 100%);
  --home-enter-bg: linear-gradient(180deg, #D88509 0%, #956317 100%);
  --home-enter-text-color: rgba(251, 251, 251, 1);
  --home-type-tab-bg: #6F1717;
  --home-type-tab-text: #ADB4BC;
  --home-type-tab-active-text: #e7a707;
  --login-btn-bg: rgba(250, 201, 73, 1);
  --login-btn-text: rgba(255, 255, 255, 1);
  --login-tabs-item-bg: #80e2df;
  --login-tabs-item-active-bg: rgba(0, 198, 192, 1);
  --login-tabs-text: rgba(3, 165, 160, 1);
  --login-tabs-active-text: rgba(255, 255, 255, 1);
  --login-input-bg: #720C08;
  --login-input-border: #ffffff;
  --table-data-filter-bg:#99e8e6;
  --recharge-item-active-bg: rgba(244, 222, 161, 1);
  --recharge-item-selected-bg: rgba(120, 204, 54, 1);
  --recharge-item-active-text: rgba(96, 174, 35, 1);
  --recharge-item-multiple-text: rgba(141, 255, 27, 1);
  --profile-wapper-bg: rgba(3, 165, 160, 1);
  --profile-wapper-avatar-border: rgba(255, 237, 146, 1);
  --record-date-text: #ffffff;
  --record-item-bg: #33d1cd;
  --record-item-amount: rgba(250, 201, 73, 1);
  --nav-left-icon-color: #ffffff;
  --nav-right-amount-border-color: #ffffff;
  --nav-right-amount-text-color: #ffffff;
  --nav-right-select-bg: #E7A707;
  --reward-box-bg: #720C09;
  --rank-box-bg: rgba(2, 165, 160, 1);
  --rank-top1-bg: linear-gradient(180deg, #FFFFFF 0%, #02A5A0 100%);
  --rank-top2-bg: linear-gradient(180deg, #FFFFFF 0%, #02A5A0 100%);
  --rank-top3-bg: linear-gradient(180deg, #FFFFFF 0%, #02A5A0 100%);
  --rank-list-item-amount: rgba(255, 237, 146, 1);
  --rank-tab-text: rgba(5, 123, 119, 1);
  --rank-tab-active-text: rgba(255, 255, 255, 1);
  --group-input-bg: #720C09;
  --group-copy-icon: #E7A707;
  --level-tab-active-text: #E7A707;
  --level-tab-bg: #D9D9D933;
  --level-tab-item-bg: #720C08;
  --level-tab-right-value: #E7A707;
  --table-data-title-text: #FF4E4F;
  --recharge-item-bg: #131217;
  --cms-divider-color: #363840;
  --vip-bg-color: #131213;
  --vip-content-bg-color: #131213;
  --vip-info-bg-color: #212227;
  --vip-btn-bg-color: #E7A707;
  --vip-btn-text-color: #000000;
  --vip-item-bg-color: #212227;
  --vip-item-bottom-bg-color: #060606;
  --vip-item-bottom-text-color: rgba(255, 255, 255, .5);
  --profile-item-bottom-item-bg: #E7A707;
  --bind-label-text-color: #4DFFC5;
  --home-tabbar-stickybg-color: #921F1B;
}

// 暗紫
.theme1-theme {
  --primary-color: #B25300;
  --page--bg: #0B1D4D;
  --home--bg: #ffffff;
  --secondary-color: #3b4a71;
  --secondary-active-color: #4DFFC5;
  --sub-page-bg:rgba(89, 26, 98, 1);
  --text-color: #ffffff;  
  --text-active-color: #fff;
  --logo-text-color: #FAF36E;
  --primary-text-color: #322C56;
  --light-text-color: #09B0F8;
  --amount-text-color: #fbf68a;
  --amount-border-color: #F8C15A;
  --active-btn-color: #4DFFC5;
  --box-title-text-color: #E7A707;
  --active-btn-text-color: #000000;
  --pg-ttext-color: #534B80;
  --cancel-bg-color: #0B1D4D;
  --cancel-text-color: #4DFFC5;
  --confirm-bg-color: #29965a;
  --back-btn-bg-color: #0000004d;
  --rewards-box-amount-color: rgba(255, 255, 255, 1);
  --diisabled-bg-color: #89ab50;
  --tab-text-color: #013518;
  --tab-bg-color: #FCEA7F;
  --input-border-color: #FFD8AD;
  --progress-bar-color: #4D4E52;
  --progress-active-bar-color: #4DFFC5;
  --jackpot-text-color: rgba(233, 7, 215, 1);
  --tabbar-bg-text: #FFFFFF;
  --tabbar-bg-active-text: #4DFFC5;
  --tabbar-bg-color: #0B1D4D;
  --tabbar-bg-active-color:linear-gradient(0deg, #F0A109 0%, #FFED92 100%);
  --home-enter-bg: linear-gradient(180deg, #D88509 0%, #956317 100%);
  --home-enter-text-color: rgba(251, 251, 251, 1);
  --home-type-tab-bg: rgba(0, 0, 0, .5);
  --home-type-tab-text: #ADB4BC;
  --home-type-tab-active-text: #e7a707;
  --login-btn-bg: #4DFFC5;
  --login-btn-text: #000000;
  --login-tabs-item-bg: #f7d084;
  --login-tabs-item-active-bg: rgba(240, 161, 9, 1);
  --login-tabs-text: rgba(216, 133, 9, 1);
  --login-tabs-active-text: rgba(255, 255, 255, 1);
  --login-input-bg: #021030;
  --login-input-border: #ffffff;
  --table-data-filter-bg:#f4d79f;
  --recharge-item-active-bg: rgba(244, 222, 161, 1);
  --recharge-item-selected-bg: rgba(120, 204, 54, 1);
  --recharge-item-active-text: rgba(96, 174, 35, 1);
  --recharge-item-multiple-text: rgba(141, 255, 27, 1);
  --profile-wapper-bg: rgba(217, 130, 0, 1);
  --profile-wapper-avatar-border: rgba(255, 237, 146, 1);
  --record-date-text: #000000;
  --record-item-bg: #87CB51;
  --record-item-amount: #000000;
  --nav-left-icon-color: #4DFFC5;
  --nav-right-amount-border-color: rgba(130, 98, 35, 1);
  --nav-right-amount-text-color: #4DFFC5;
  --nav-right-select-bg: #4DFFC5;
  --reward-box-bg: #021030;
  --rank-box-bg: #0B1D4D;
  --rank-top1-bg: linear-gradient(180deg, #F6D883 0%, #0B1D4D 100%);
  --rank-top2-bg: linear-gradient(180deg, #FFFFFF 0%, #0B1D4D 100%);
  --rank-top3-bg: linear-gradient(180deg, #FDC29D 0%, #0B1D4D 100%);
  --rank-list-item-amount: #4DFFC5;
  --rank-tab-text: #FFFFFF;
  --rank-tab-active-text: #4DFFC5;
  --group-input-bg: #021030;
  --group-copy-icon: #4DFFC5;
  --level-tab-active-text: #4DFFC5;
  --level-tab-bg: #D9D9D933;
  --level-tab-item-bg: #131217;
  --level-tab-right-value: #4DFFC5;
  --table-data-title-text: #4DFFC5;
  --recharge-item-bg: #131217;
  --cms-divider-color: #363840;
  --vip-bg-color: #0E2C72;
  --vip-content-bg-color: #0E2C72;
  --vip-info-bg-color: #0B1D4D;
  --vip-btn-bg-color: #4DFFC5;
  --vip-btn-text-color: #000000;
  --vip-item-bg-color: #0B1D4D;
  --vip-item-bottom-bg-color: #1B3568;
  --vip-item-bottom-text-color: rgba(255, 255, 255, .5);
  --profile-item-bottom-item-bg: #4DFFC5;
  --bind-label-text-color: #4DFFC5;
  --home-tabbar-stickybg-color: #000000;

}
// 蓝色
.theme2-theme {
  --primary-color: #1E1D25;
  --page--bg: #212227;
  --home--bg: #131217;
  --secondary-color: #363840;
  --secondary-active-color: #4DFFC5;
  --sub-page-bg:rgba(89, 26, 98, 1);
  --text-color: #ffffff;  
  --text-active-color: #fff;
  --logo-text-color: #FAF36E;
  --primary-text-color: #322C56;
  --light-text-color: #09B0F8;
  --amount-text-color: #fbf68a;
  --amount-border-color: #F8C15A;
  --active-btn-color: #E7A707;
  --box-title-text-color: #E7A707;
  --active-btn-text-color: #000000;
  --pg-ttext-color: #534B80;
  --cancel-bg-color: #212227;
  --cancel-text-color: #E7A707;
  --confirm-bg-color: #29965a;
  --back-btn-bg-color: #0000004d;
  --rewards-box-amount-color: #E7A707;
  --diisabled-bg-color: #89ab50;
  --tab-text-color: #013518;
  --tab-bg-color: #FCEA7F;
  --input-border-color: #99D64C;
  --progress-bar-color: #4D4E52;
  --progress-active-bar-color: #99D64C;
  --jackpot-text-color: rgb(255, 255, 107);
  --tabbar-bg-text: #ADB4BC;
  --tabbar-bg-active-text: #e7a707;
  --tabbar-bg-color: #1E1D25;
  --tabbar-bg-active-color:#e7a707;
  --home-enter-bg: linear-gradient(180deg, #F74D46 0%, #B0231D 100%);
  --home-enter-text-color: rgba(251, 251, 251, 1);
  --home-type-tab-bg: #212227;
  --home-type-tab-text: #ADB4BC;
  --home-type-tab-active-text: #e7a707;
  --login-btn-bg: #e7a707;
  --login-btn-text: #131217;
  --login-tabs-item-bg: #fcaeae;
  --login-tabs-item-active-bg: rgba(248, 92, 93, 1);
  --login-tabs-text: rgba(216, 133, 9, 1);
  --login-tabs-active-text: #e7a707;
  --login-input-bg: #131217;
  --login-input-border: #ffffff;
  --table-data-filter-bg:#fecfce;
  --recharge-item-active-bg: #78CC3699;
  --recharge-item-selected-bg: rgba(120, 204, 54, 1);
  --recharge-item-active-text: #E7A707;
  --recharge-item-multiple-text: #FAF36E;
  --profile-wapper-bg: rgba(248, 92, 93, 1);
  --profile-wapper-avatar-border: rgba(255, 237, 146, 1);
  --record-date-text: #ffffff;
  --record-item-bg: #6BB82F;
  --record-item-amount: #000000;
  --nav-left-icon-color: #ADB4BC;
  --nav-right-amount-border-color: #E7A707;
  --nav-right-amount-text-color: #E7A707;
  --nav-right-select-bg: #E7A707;
  --reward-box-bg: rgba(19, 18, 23, 1);
  --rank-box-bg: #131217;
  --rank-top1-bg: linear-gradient(180deg, #F6D883 0%, #212227 100%);
  --rank-top2-bg: linear-gradient(180deg, #FFFFFF 0%, #212227 100%);
  --rank-top3-bg: linear-gradient(180deg, #FDC29D 0%, #131217 100%);
  --rank-list-item-amount: rgba(255, 237, 146, 1);
  --rank-tab-text: #FFFFFF;
  --rank-tab-active-text: #E7A707;
  --group-input-bg: rgba(19, 18, 23, 1);
  --group-copy-icon: #E7A707;
  --level-tab-active-text: #E7A707;
  --level-tab-bg: #D9D9D933;
  --level-tab-item-bg: #131217;
  --level-tab-right-value: #E7A707;
  --table-data-title-text: #E7A707;
  --recharge-item-bg: #131217;
  --cms-divider-color: #363840;
  --vip-bg-color: #131213;
  --vip-content-bg-color: #131213;
  --vip-info-bg-color: #212227;
  --vip-btn-bg-color: #E7A707;
  --vip-btn-text-color: #000000;
  --vip-item-bg-color: #212227;
  --vip-item-bottom-bg-color: #060606;
  --vip-item-bottom-text-color: rgba(255, 255, 255, .5);
  --profile-item-bottom-item-bg: #E7A707;
  --bind-label-text-color: #E7A707;
  --home-tabbar-stickybg-color: #000000;

}

